:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-gray: rgb(124, 134, 152);
    --medium-gray: hsl(213, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.main{
    background-color: #141519;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2{
    background-image: linear-gradient(to right, #19202a, #19202a);
    width: 375px;
    height: 375px;
    padding: 20px;
    border-radius: 20px;
}

.image{
    display: block;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.message{
    background-color: var(--dark-blue);
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 30px;
}

.message p{
    font-size: 15px;
    color: var(--orange);
    padding: 7px 10px 5px 15px;
}

.text{
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
}

.text h3{
    font-family: 'Overpass';
    color: var(--white);
}

.text p{
    font-family: sans-serif;
    font-size: 12.5px;
    padding-top: 5px;
    color: var(--light-gray);
    line-height: 1.6;
}