:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-gray: rgb(124, 134, 152);
    --medium-gray: hsl(213, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.main{
    background-color: #141519;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: linear-gradient(to right, #19202a, #19202a);
    width: 375px;
    height: 375px;
    padding: 20px;
    border-radius: 20px;
}

.star{
    background-color: var(--dark-blue);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star .imgEstrela{
    width: 15px;
    height: 15px;
}

h1{
    font-size: 30px;
    color: var(--white); 
    padding: 25px 0 5px 0;
    padding-left: 0px;
}

p{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.8;
    color: var(--light-gray);
}

ul{
    list-style: none;
    width: 100%;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: space-between;
    align-items: center;
}

li{
    font-size: 15px;
    margin-right: 20px;
    background-color: var(--dark-blue);
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
}

ul li:hover{
    background-color: var(--light-gray);
    text-decoration: none;
}


ul li a{
    text-decoration: none;
    color: var(--white);
}

ul li.active{
    background-color: var(--orange);
}

button{
    background-color: var(--orange);
    border: none;
    color: var(--white);
    text-align: center;
    padding-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    width: 95%;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px 3px #141519; 
}

button:hover{
    background-color: var(--white);
    color: var(--orange);   
    cursor: pointer;
    transition: 0.5s;
}







